    <i class="fa fa-cart-plus mr-4 p-text-secondary" pBadge id="allcart" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false" style="font-size: 2rem" severity="danger"  [value]="allCartLength" >
    </i>

    <div class="dropdown-menu rounded dropdown-menu-right" *ngIf="allCartLength == 0">
        <div  class="widget-media dz-scroll p-3 height380" >
            <ul class="timeline" >
                <li>
                    <span class="text-danger"> No Date Empty Cart</span>
                </li>
            </ul>
        </div>
        </div>
        

    <div class="dropdown-menu rounded dropdown-menu-right card-length" *ngIf="allCartLength > 0">
        <div  class="widget-media dz-scroll p-3 height380" >
            <ul class="timeline" *ngFor="let cart of allCart" >
                <li >
                    <div class="timeline-panel" style="display: flex;margin-bottom: 10px; ">
                        <div class="media mr-2">
                            <img src="{{images_path}}{{cart.featuredPhoto.photo_path}}" 
                            alt="{{cart.featuredPhoto.caption}}" style="width: 50">
                        </div>
                        <div class="media-body">
                            <h6 class="mb-1" [innerHTML]="cart.p_name" ></h6>
                            <small class="d-block">Current Price : {{cart.p_current_price}}</small>
<!-- 
                            <div class="pricing">
                                <div class="discount-price">p_current_price : {{cart.p_current_price}}</div>
                                <div class="regular-price">55</div>
                            </div> -->

                        </div>
                    </div>
                </li>

              
            </ul>
            <span style="margin-left: 50px;">
                <button class="btn btn-default main-btn" type="submit"  (click)="checkout()" > <i class="fa fa-check pr-2"> </i>CheckOut </button> 
            </span>
        </div>
    </div>
