
<!-- {{Category |json}} -->

<div class="row mt-2 mb-2" >
<div style=" display: contents;">
    <div class="col-sm-3 mb-2" *ngFor="let cat of Category ; let i = index">
        <a style=" width: -webkit-fill-available;" (click)="getDetails(Category[i])">
            <div class="pink-card member-card p-3 d-flex" *ngIf="cat.gender == 'F'">
              <div class="col-4 icon-image">
                    <span class="icon-girl icomoon" style="font-size: 40px;"></span> 
              </div>
              <div class="col-8">
                <h6 class="title"> {{cat.memberName}} </h6>
              </div>
            </div>

            <div class="blue-card member-card p-3 d-flex"  *ngIf="cat.gender == 'M'">
                  <div class="col-4 icon-image">
                    <span class="icon-boy icomoon" style="font-size: 40px;"></span> 
                 </div>
                <div class="col-8">
                  <h6 class="title"> {{cat.memberName}} </h6>
              </div>
              </div>

       
        </a>
    
    </div>

</div>
    
</div>

<div class="no-data text-center mt-5" *ngIf="this.length == 0">
    <img src="assets/web/images/svg/2/no data.svg" alt="">
    <br>
    No Data
</div>