.Facebook {
    background: #446bb9; 
}

.LinkedIn{
    background: #0077B5; 
}

.Twitter {
    background: #00aced; 
}
  
.YouTube  {
    background: #ea4335;
 }

 .Instagram  {
    background: #e1306c
 }

 .WhatsApp{
    background: #25D366
 }
